Repository boutproject/BOUT-dev, pull requests merged in 2019-11, with the labels that each got.

#1829 Include all boundary cells in GlobalNy
  CHANGELOG.md
  include/bout/mesh.hxx
  src/field/globalfield.cxx
  src/fileio/impls/hdf5/h5_format.cxx
  src/mesh/boundary_standard.cxx
  src/mesh/coordinates.cxx
  src/mesh/data/gridfromfile.cxx
  src/mesh/impls/bout/boutmesh.cxx
  src/mesh/impls/bout/boutmesh.hxx
  src/physics/smoothing.cxx
  tests/unit/test_extras.hxx
Labels: breaking change, small-change

#1837 Fix typo in initialisation of rgn_outer_x
  src/mesh/impls/bout/boutmesh.cxx
Labels: bugfix

#1838 Fix typo in initialisation of rgn_outer_x
  src/mesh/impls/bout/boutmesh.cxx
Labels: bugfix

#1805 Petsc interface
  CMakeLists.txt
  include/bout/mesh.hxx
  include/bout/paralleltransform.hxx
  include/bout/petsc_interface.hxx
  include/interpolation.hxx
  src/mesh/impls/bout/boutmesh.cxx
  src/mesh/impls/bout/boutmesh.hxx
  src/mesh/interpolation/hermite_spline.cxx
  src/mesh/mesh.cxx
  src/sys/makefile
  src/sys/petsc_interface.cxx
  tests/unit/CMakeLists.txt
  tests/unit/fake_parallel_mesh.hxx
  tests/unit/include/bout/test_petsc_indexer.cxx
  tests/unit/include/bout/test_petsc_matrix.cxx
  tests/unit/include/bout/test_petsc_setters.cxx
  tests/unit/include/bout/test_petsc_vector.cxx
  tests/unit/makefile
  tests/unit/solver/test_solver.cxx
  tests/unit/test_extras.hxx
Labels: feature, tests

#1834 Remove deprecated Laplacian API
  CHANGELOG.md
  include/gyro_average.hxx
  include/invert_laplace.hxx
  src/invert/laplace/invert_laplace.cxx
  src/physics/gyro_average.cxx
  tests/integrated/test-laplace/test_laplace.cxx
Labels: breaking change

#1773 Allow user to override library option defaults
  include/options.hxx
  manual/sphinx/user_docs/bout_options.rst
  src/sys/options.cxx
  tests/unit/sys/test_options.cxx
Labels: backport candidiate, feature, proposal, small-change
